<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
</head>
<body>
    <% if (userFullName) { %>
        <h2>Hello <%= userFullName %></h2>
        <a href="/signout">Sign out</a>
    <% } else { %>
        <a href="/signup">Sign Up</a>
        <a href="/signin">Sign In</a>
    <% } %>

    <section>
        <input type="text" id="text1" ng-model="name">
        <input type="text" id="text2" ng-model="name">
    </section>

    <script type="text/javascript" src="/lib/angular/angular.js"></script>
    <script type="text/javascript" src="/example/example.client.module.js"></script>
    <script type="text/javascript" src="/application.js"></script>
</body>
</html>
